.app__page {
  display: flex;
  height: 100%;
}

.app__main {
  flex: 1;
  padding: 20px;
  background-color: #181818;
  min-height: calc(100vh - 61px);
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .app__main {
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .app__main {
    margin-bottom: 70px;
    /* Space for bottom nav */
    padding: 10px 5px;
  }
}